a {
    color: rgb(32, 32, 224);
}

@media (prefers-color-scheme: dark) {
    a {
        color: rgb(223, 223, 31);
    }

    a {
        color: rgb(223, 223, 31);
    }
}

.cmp-helloworld__item-label {
    margin-bottom: 0px;
}

.cmp-helloworld__item-output {
    margin-top: 0px;
}

.cmp-navigation__item--level-0:hover > .cmp-navigation__group {
    background: rgb(236, 236, 236);
}

* {
    text-shadow: none;
}

body, html {
    color: rgb(32, 32, 32);
    font-size: 1pc;
    line-height: 1.5;
    margin: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, p.h1, p.h2, p.h3, p.h4, p.h5, p.h6 {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: rgb(68, 0, 85);
    font-family: AspreyAlphabet, "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}

.h1, h1, h1 a {
    font-size: 24px;
}

.h2, h2, h2 a {
    font-size: 22px;
}

.h3, h3, h3 a {
    font-size: 20px;
}

.h4, h4, h4 a {
    font-size: 18px;
}

.h5, .h6, h5, h5 a, h6, h6 a {
    font-size: 1pc;
}

li, p, strong {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: rgb(129, 124, 137);
    font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

a {
    color: rgb(68, 0, 85);
}

button, input, optgroup, select, textarea {
    font: inherit;
}

img {
    height: auto;
    vertical-align: top;
    width: auto;
}

.pageHeader {
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    max-width: 80pc;
    padding: 75px 0px;
    float: none !important;
}

.pageLogo {
    padding: 20px 0px;
    text-align: center;
}

.pageLogo img {
    width: 50%;
}

.textRightTitle p {
    color: rgb(0, 0, 0);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 9pt;
    margin-right: 20px;
    text-align: right;
    text-transform: uppercase;
}

.socialMenu {
    margin-top: 20px;
}

.socialMenu p {
    text-align: right;
}

.socialMenu a {
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    text-indent: 999px;
    width: 20px;
}

@media only screen and (max-width: 768px) {
    .socialMenu p {
        text-align: center;
    }

    .socialMenu a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .socialMenu p {
        text-align: center;
    }

    .socialMenu a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.pageHeader .socialMenu a:first-child, .pageHeader .socialMenu a:nth-child(2) {
    background-color: rgb(43, 14, 67);
}

.pageFooter .socialMenu a:first-child, .pageFooter .socialMenu a:nth-child(2) {
    background-color: rgb(255, 255, 255);
}

.pageFooter .textCopyright .cmp-text p {
    font-size: 10px;
    margin: 55px 0px;
    text-align: center;
}

.pageBody .widthFull {
    max-width: 100%;
    float: none !important;
}

.pageBody .widthContained > div {
    margin: 0px auto;
    float: none !important;
    max-width: 90pc !important;
}

main.container {
    padding: 0px;
}

.pageBody .textLeft *, .pageBody.textLeft * {
    text-align: left !important;
}

.pageBody .textCenter *, .pageBody.textCenter * {
    text-align: center !important;
}

.pageFooter {
    padding: 50px 0px;
}

.pageFooter > div {
    margin: 0px auto;
    max-width: 80pc;
    float: none !important;
}

.pageFooter > div a {
    color: rgb(255, 255, 255);
}

.pageFooter .linksLegal {
    text-align: center;
}

.cmp-breadcrumb {
    margin-left: 20px;
    margin-top: 0px;
    max-width: none;
    position: static;
}

.cmp-breadcrumb ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 0px 4px 0px 9pt;
}

.cmp-breadcrumb ol li {
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;
}

.cmp-breadcrumb__item:first-child::before {
    content: "";
}

.cmp-breadcrumb ol li a, .cmp-breadcrumb ol li span {
    display: block;
    font-size: 9pt;
    font-style: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: 0px;
    line-height: 1.5;
    padding: 8px 9pt;
    position: relative;
    text-transform: uppercase;
}

.cmp-carousel__actions {
    position: absolute;
    top: 50%;
    width: 100%;
}

.cmp-carousel__action {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.cmp-carousel__action--next, .cmp-carousel__action--previous {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

.cmp-carousel__action--previous {
    left: 20px;
    position: absolute;
}

.cmp-carousel__action--next {
    position: absolute;
    right: 20px;
}

.cmp-carousel__action-icon {
    display: block;
}

.cmp-carousel__action-text {
    display: none;
}

.cmp-carousel__indicators {
    bottom: 20px;
    left: 0px;
    position: absolute;
    right: 0px;
}

.cmp-carousel__indicator {
    border-radius: 0px;
    height: 5px;
    width: 75pt;
}

.carousel__btn.carousel__btn--prev, .productcarousel__btn--prev {
    border-bottom: 1px solid rgb(129, 124, 137);
    border-left: 1px solid rgb(129, 124, 137);
}

.carousel__btn.carousel__btn--next, .productcarousel__btn--next {
    border-bottom: 1px solid rgb(129, 124, 137);
    border-right: 1px solid rgb(129, 124, 137);
}

.separator hr {
    border: 0px;
}

.heroimage.alignLeft .venia-HeroImage-wrapper, .teaser.alignLeft .cmp-teaser__content, .text.alignLeft .cmp-text, .title.alignLeft .cmp-title {
    text-align: left;
}

.heroimage.alignCenter .venia-HeroImage-wrapper, .teaser.alignCenter .cmp-teaser__content, .text.alignCenter .cmp-text, .title.alignCenter .cmp-title {
    text-align: center;
}

.heroimage.alignRight .venia-HeroImage-wrapper, .teaser.alignRight .cmp-teaser__content, .text.alignRight .cmp-text, .title.alignRight .cmp-title {
    text-align: right;
}

.heroimage.alignOneLine .venia-HeroImage-wrapper, .teaser.alignOneLine .cmp-title, .text.alignOneLine .cmp-text, .title.alignOneLine .cmp-title {
    word-spacing: 9999rem;
}

.cmp-button {
    margin-bottom: 35px;
}

.btn.btn-primary, .button__root, .cmp-button, .cmp-teaser__action-link {
    appearance: none;
    background-color: rgb(43, 14, 67);
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    line-height: 1;
    margin: 0px 0px 1rem;
    min-width: unset;
    padding: 9pt 24px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
    font-size: 9pt !important;
    font-weight: 500 !important;
}

.form-signin {
    margin-bottom: 75px;
}

.form-signin label.sr-only {
    letter-spacing: 0.03em;
    margin: 0px;
}

.form-signin input.form-control, .form-signin label.sr-only {
    color: rgb(129, 124, 137);
    display: block;
    font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

.form-signin input.form-control {
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    box-sizing: border-box;
    height: 3.1375rem;
    margin: 0px 0px 25px;
    padding: 1rem 1.25rem;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s, -webkit-box-shadow 0.5s ease 0s;
    width: 100%;
}

.form-signin .checkbox {
    margin-bottom: 25px;
}

.form-signin .checkbox label {
    color: rgb(129, 124, 137);
    font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.form-signin .checkbox input {
    border: 1px solid rgb(222, 222, 222);
    margin: 0px;
}

.form-signin .btn.btn-primary {
    width: 100%;
}

.embedVideo .cmp-embed {
    --video--width: 1296;
    --video--height: 540;
    background: rgb(0, 0, 0);
    max-width: 100%;
    overflow: hidden;
    padding-bottom: calc(var(--video--height)/var(--video--width)*100%);
    position: relative;
}

.embedVideo .cmp-embed embed, .embedVideo .cmp-embed iframe, .embedVideo .cmp-embed object {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.heroimage .venia-HeroImage {
    margin-bottom: 0px;
}

.heroimage .venia-HeroImage-wrapper {
    left: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heroimage.textPositionTL .venia-HeroImage-wrapper {
    left: 0px;
    top: 0px;
    transform: translate(0px);
}

.heroimage.textPositionTC .venia-HeroImage-wrapper {
    left: 50%;
    top: 0px;
    transform: translate(-50%);
}

.heroimage.textPositionTR .venia-HeroImage-wrapper {
    left: unset;
    right: 0px;
    top: 0px;
    transform: translate(-50%);
}

.heroimage.textPositionML .venia-HeroImage-wrapper {
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.heroimage.textPositionMR .venia-HeroImage-wrapper {
    left: unset;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.heroimage.textPositionBL .venia-HeroImage-wrapper {
    bottom: 0px;
    left: 0px;
    top: unset;
    transform: translate(0px);
}

.heroimage.textPositionBC .venia-HeroImage-wrapper {
    bottom: 0px;
    left: 50%;
    top: unset;
    transform: translate(-50%);
}

.heroimage.textPositionBR .venia-HeroImage-wrapper {
    bottom: 0px;
    left: unset;
    right: 0px;
    top: unset;
    transform: translate(0px);
}

.heroimage {
    max-height: 45vw;
}

.heroimage.height25 {
    max-height: 25vw;
}

.heroimage.height50 {
    max-height: 50vw;
}

.heroimage.height75 {
    max-height: 75vw;
}

.heroimage.height100 {
    max-height: 100vw;
}

@media only screen and (max-width: 620px) {
    .heroimage, .heroimage.height100, .heroimage.height25, .heroimage.height50, .heroimage.height75 {
        max-height: 200vw;
    }

    .heroimage.venia-HeroImage {
        height: 100%;
    }

    .heroimage.textPosition .venia-HeroImage-wrapper, .heroimage.textPositionBC .venia-HeroImage-wrapper, .heroimage.textPositionBL .venia-HeroImage-wrapper, .heroimage.textPositionBR .venia-HeroImage-wrapper, .heroimage.textPositionML .venia-HeroImage-wrapper, .heroimage.textPositionMR .venia-HeroImage-wrapper, .heroimage.textPositionTL .venia-HeroImage-wrapper .heroimage.textPositionTC .venia-HeroImage-wrapper, .heroimage.textPositionTR .venia-HeroImage-wrapper {
        inset: 10%;
        transform: translate(-50%);
    }

    .heroimage, .heroimage.height100, .heroimage.height25, .heroimage.height50, .heroimage.height75 {
        max-height: 200vw;
    }

    .heroimage.venia-HeroImage {
        height: 100%;
    }

    .heroimage.textPosition .venia-HeroImage-wrapper, .heroimage.textPositionBC .venia-HeroImage-wrapper, .heroimage.textPositionBL .venia-HeroImage-wrapper, .heroimage.textPositionBR .venia-HeroImage-wrapper, .heroimage.textPositionML .venia-HeroImage-wrapper, .heroimage.textPositionMR .venia-HeroImage-wrapper, .heroimage.textPositionTL .venia-HeroImage-wrapper .heroimage.textPositionTC .venia-HeroImage-wrapper, .heroimage.textPositionTR .venia-HeroImage-wrapper {
        inset: 10%;
        transform: translate(-50%);
    }
}

.cmp-teaser, .teaser .cmp-teaser .cmp-teaser__content {
    display: flex;
}

.teaser .cmp-teaser .cmp-teaser__content {
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    place-content: center;
    flex-direction: column;
}

.cmp-teaser.textBottom .cmp-teaser__content, .cmp-teaser.textTop .cmp-teaser__content {
    -webkit-box-align: start;
    align-items: flex-start;
}

.teaser .cmp-teaser .cmp-teaser__image {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}

.teaser .cmp-teaser .cmp-teaser__image .cmp-image, .teaser .cmp-teaser .cmp-teaser__image .cmp-image img {
    height: 100%;
}

.teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__pretitle {
    text-transform: uppercase;
}

.teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__title {
    font-size: 30px;
    max-width: none;
    font-weight: 400 !important;
}

.teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__title a {
    text-decoration: none;
}

.teaser .cmp-teaser .cmp-teaser__content .cmp-teaser__description {
    padding-bottom: 25px;
}

.teaser .cmp-teaser .cmp-teaser__image img {
    object-fit: cover;
    vertical-align: top;
}

.brandColor .cmp-teaser__action-link {
    background-color: transparent;
}

.teaser.styleHatched .cmp-teaser .cmp-teaser__image {
    background: url("https://urldefense.com/v3/__https:/www.asprey.com/images/stripy-inner-image-light.png__;!!N96JrnIq8IfO5w!kkOQpmliH5JlhZLCjwgAjLCk6Au3HZBSv-gOdjJAueVx2K5UdyWzDcDPnhqICvsV5odjfj8F3b3V3iqJhBgornUkAQ4$") 0px 0px repeat;
    margin: 0px auto 2pc;
    padding: 1pc;
}

.teaser.imageBottom .cmp-teaser, .teaser.imageBottom .cmp-teaser .cmp-teaser__content, .teaser.imageBottom .cmp-teaser .cmp-teaser__image, .teaser.imageTop .cmp-teaser, .teaser.imageTop .cmp-teaser .cmp-teaser__content, .teaser.imageTop .cmp-teaser .cmp-teaser__image {
    display: block;
}

.teaser.imageBottom .cmp-teaser .cmp-teaser__content h1, .teaser.imageBottom .cmp-teaser .cmp-teaser__content h2, .teaser.imageBottom .cmp-teaser .cmp-teaser__content h3, .teaser.imageBottom .cmp-teaser .cmp-teaser__content h4, .teaser.imageBottom .cmp-teaser .cmp-teaser__content h5, .teaser.imageBottom .cmp-teaser .cmp-teaser__content h6, .teaser.imageTop .cmp-teaser .cmp-teaser__content h1, .teaser.imageTop .cmp-teaser .cmp-teaser__content h2, .teaser.imageTop .cmp-teaser .cmp-teaser__content h3, .teaser.imageTop .cmp-teaser .cmp-teaser__content h4, .teaser.imageTop .cmp-teaser .cmp-teaser__content h5, .teaser.imageTop .cmp-teaser .cmp-teaser__content h6 {
    font-size: 22px;
}

.teaser.imageBottom .cmp-teaser .cmp-teaser__content h4.header-caption, .teaser.imageTop .cmp-teaser .cmp-teaser__content h4.header-caption {
    font-size: 11px;
}

.teaser.imageTop .cmp-teaser, .teaser.imageTop .cmp-teaser a.cmp-teaser__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
}

.teaser.imageTop .cmp-teaser .cmp-teaser__image {
    -webkit-box-ordinal-group: 1;
    order: 1;
}

.teaser.imageTop .cmp-teaser .cmp-teaser__content {
    -webkit-box-ordinal-group: 2;
    order: 2;
}

.teaser.imageBottom .cmp-teaser, .teaser.imageBottom .cmp-teaser a.cmp-teaser__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
}

.teaser.imageBottom .cmp-teaser .cmp-teaser__content, .teaser.imageBottom .cmp-teaser .cmp-teaser__image {
    display: block;
}

.teaser.imageLeft .cmp-teaser .cmp-teaser__content {
    -webkit-box-ordinal-group: 2;
    order: 2;
}

.teaser.imageLeft .cmp-teaser .cmp-teaser__image, .teaser.imageRight .cmp-teaser .cmp-teaser__content {
    -webkit-box-ordinal-group: 1;
    order: 1;
}

.teaser.imageRight .cmp-teaser .cmp-teaser__image {
    -webkit-box-ordinal-group: 2;
    order: 2;
}

.teaser.textLeft .cmp-teaser {
    position: relative;
}

.teaser.textLeft .cmp-teaser .cmp-teaser__content {
    left: 0px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.teaser.textLeft .cmp-teaser .cmp-teaser__image {
    width: 100%;
}

.teaser.textCenter .cmp-teaser {
    position: relative;
}

.teaser.textCenter .cmp-teaser .cmp-teaser__content {
    left: 25%;
    position: absolute;
    right: 25%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.teaser.textCenter .cmp-teaser .cmp-teaser__image {
    width: 100%;
}

.teaser.textRight .cmp-teaser {
    position: relative;
}

.teaser.textRight .cmp-teaser .cmp-teaser__content {
    left: 50%;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.teaser.textRight .cmp-teaser .cmp-teaser__image {
    width: 100%;
}

.teaser.width5050 .cmp-teaser .cmp-teaser__content, .teaser.width5050 .cmp-teaser .cmp-teaser__image {
    width: 50%;
}

.teaser.width6040 .cmp-teaser .cmp-teaser__content {
    width: 60%;
}

.teaser.width4060 .cmp-teaser .cmp-teaser__content, .teaser.width6040 .cmp-teaser .cmp-teaser__image {
    width: 40%;
}

.teaser.width4060 .cmp-teaser .cmp-teaser__image {
    width: 60%;
}

.teaser.width7030 .cmp-teaser .cmp-teaser__content {
    width: 70%;
}

.teaser.width3070 .cmp-teaser .cmp-teaser__content, .teaser.width7030 .cmp-teaser .cmp-teaser__image {
    width: 30%;
}

.teaser.width3070 .cmp-teaser .cmp-teaser__image {
    width: 70%;
}

@media only screen and (max-width: 620px) {
    .teaser .cmp-teaser {
        display: block;
    }

    .teaser.width4060 .cmp-teaser .cmp-teaser__content, .teaser.width5050 .cmp-teaser .cmp-teaser__content, .teaser.width6040 .cmp-teaser .cmp-teaser__content, .teaser.width7030 .cmp-teaser .cmp-teaser__content {
        width: 100%;
    }

    .teaser.width4060 .cmp-teaser .cmp-teaser__image, .teaser.width5050 .cmp-teaser .cmp-teaser__image, .teaser.width6040 .cmp-teaser .cmp-teaser__image, .teaser.width7030 .cmp-teaser .cmp-teaser__image {
        position: relative;
        width: 100%;
    }

    .teaser .cmp-teaser {
        display: block;
    }

    .teaser.width4060 .cmp-teaser .cmp-teaser__content, .teaser.width5050 .cmp-teaser .cmp-teaser__content, .teaser.width6040 .cmp-teaser .cmp-teaser__content, .teaser.width7030 .cmp-teaser .cmp-teaser__content {
        width: 100%;
    }

    .teaser.width4060 .cmp-teaser .cmp-teaser__image, .teaser.width5050 .cmp-teaser .cmp-teaser__image, .teaser.width6040 .cmp-teaser .cmp-teaser__image, .teaser.width7030 .cmp-teaser .cmp-teaser__image {
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .marginContentTop .cmp-teaser__content {
        margin-top: 35px;
    }

    .marginContentBottom .cmp-teaser__content {
        margin-bottom: 35px;
    }

    .marginContentLeft .cmp-teaser__content .cmp-teaser__action-container, .marginContentLeft .cmp-teaser__content .cmp-teaser__description, .marginContentLeft .cmp-teaser__content .cmp-teaser__pretitle, .marginContentLeft .cmp-teaser__content .cmp-teaser__title {
        margin-left: 35px;
    }

    .marginContentRight .cmp-teaser__content .cmp-teaser__action-container, .marginContentRight .cmp-teaser__content .cmp-teaser__description, .marginContentRight .cmp-teaser__content .cmp-teaser__pretitle, .marginContentRight .cmp-teaser__content .cmp-teaser__title {
        margin-right: 35px;
    }

    .marginContentTop .cmp-teaser__content {
        margin-top: 35px;
    }

    .marginContentBottom .cmp-teaser__content {
        margin-bottom: 35px;
    }

    .marginContentLeft .cmp-teaser__content .cmp-teaser__action-container, .marginContentLeft .cmp-teaser__content .cmp-teaser__description, .marginContentLeft .cmp-teaser__content .cmp-teaser__pretitle, .marginContentLeft .cmp-teaser__content .cmp-teaser__title {
        margin-left: 35px;
    }

    .marginContentRight .cmp-teaser__content .cmp-teaser__action-container, .marginContentRight .cmp-teaser__content .cmp-teaser__description, .marginContentRight .cmp-teaser__content .cmp-teaser__pretitle, .marginContentRight .cmp-teaser__content .cmp-teaser__title {
        margin-right: 35px;
    }
}

.columnPadding > div > .teaser {
    padding: 20px;
}

.columnPadding > div > .cmp-button, .columnPadding > div > .cmp-image, .columnPadding > div > .cmp-text, .columnPadding > div > .cmp-title {
    margin: 20px;
}

.marginTop {
    margin-top: 75px;
}

.marginRight {
    margin-right: 75px;
}

.marginBottom {
    margin-bottom: 75px;
}

.marginLeft {
    margin-left: 75px;
}

.marginContentTop .cmp-teaser__content {
    margin-top: 75px;
}

.marginContentTop.imageTop .cmp-teaser__content {
    margin-top: 2pc;
}

.marginContentRight .cmp-teaser__content .cmp-teaser__action-container, .marginContentRight .cmp-teaser__content .cmp-teaser__description, .marginContentRight .cmp-teaser__content .cmp-teaser__pretitle, .marginContentRight .cmp-teaser__content .cmp-teaser__title {
    margin-right: 75px;
}

.marginContentRight .cmp-teaser__content {
    margin-bottom: 2pc;
}

.marginContentBottom .cmp-teaser__content {
    margin-bottom: 75px;
}

.marginContentBottom.imageTop .cmp-teaser__content {
    margin-bottom: 2pc;
}

.marginContentLeft .cmp-teaser__content .cmp-teaser__action-container, .marginContentLeft .cmp-teaser__content .cmp-teaser__description, .marginContentLeft .cmp-teaser__content .cmp-teaser__pretitle, .marginContentLeft .cmp-teaser__content .cmp-teaser__title {
    margin-left: 75px;
}

.marginContentLeft.imageTop .cmp-teaser__content {
    margin-bottom: 2pc;
}

@media only screen and (max-width: 620px) {
    .marginContentLeft .cmp-teaser__content .cmp-teaser__action-container, .marginContentLeft .cmp-teaser__content .cmp-teaser__description, .marginContentLeft .cmp-teaser__content .cmp-teaser__pretitle, .marginContentLeft .cmp-teaser__content .cmp-teaser__title {
        margin-left: 2pc;
    }

    .marginContentRight .cmp-teaser__content .cmp-teaser__action-container, .marginContentRight .cmp-teaser__content .cmp-teaser__description, .marginContentRight .cmp-teaser__content .cmp-teaser__pretitle, .marginContentRight .cmp-teaser__content .cmp-teaser__title {
        margin-right: 2pc;
    }

    .marginContentLeft .cmp-teaser__content .cmp-teaser__action-container, .marginContentLeft .cmp-teaser__content .cmp-teaser__description, .marginContentLeft .cmp-teaser__content .cmp-teaser__pretitle, .marginContentLeft .cmp-teaser__content .cmp-teaser__title {
        margin-left: 2pc;
    }

    .marginContentRight .cmp-teaser__content .cmp-teaser__action-container, .marginContentRight .cmp-teaser__content .cmp-teaser__description, .marginContentRight .cmp-teaser__content .cmp-teaser__pretitle, .marginContentRight .cmp-teaser__content .cmp-teaser__title {
        margin-right: 2pc;
    }
}

.paddingTop {
    padding-top: 55px;
}

.paddingLeft {
    padding-left: 55px;
}

.paddingRight {
    padding-right: 55px;
}

.paddingBottom {
    padding-bottom: 55px;
}

@media only screen and (max-width: 620px) {
    .paddingTop {
        padding-top: 25px;
    }

    .paddingLeft {
        padding-left: 25px;
    }

    .paddingRight {
        padding-right: 25px;
    }

    .paddingBottom {
        padding-bottom: 25px;
    }

    .paddingTop {
        padding-top: 25px;
    }

    .paddingLeft {
        padding-left: 25px;
    }

    .paddingRight {
        padding-right: 25px;
    }

    .paddingBottom {
        padding-bottom: 25px;
    }
}

.productFullDetail__productName {
    font-size: 40px;
    line-height: 1.2;
}

@media (min-width: 1024px) {
    .thumbnail__rootSelected {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
    }

    .carousel__currentImage {
        display: none;
    }

    .carousel__root {
        gap: 1.5rem;
        grid-template-areas: "main";
        grid-template-columns: auto;
    }

    .thumbnail__rootSelected {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
    }

    .carousel__currentImage {
        display: none;
    }

    .carousel__root {
        gap: 1.5rem;
        grid-template-areas: "main";
        grid-template-columns: auto;
    }
}

.carousel__imageContainer, .product__card__image, .productcollection__item-images, .thumbnailList__root .thumbnail {
    background: linear-gradient(rgb(0, 0, 0) 0px, transparent);
    height: unset;
}

.carousel__imageContainer img, .product__card__image img, .productcollection__item-images img, .thumbnailList__root .thumbnail img {
    opacity: 0.97;
}

.featuredcategorylist.styleSquare .cmp-categorylist__imagewrapper {
    border-radius: 0px;
}

.contentfragment h3.cmp-contentfragment__title {
    margin-bottom: 2pc;
}

.contentfragment img {
    width: 100%;
}

.cmp-contentfragment__element-title {
    display: none;
}

.cmp-contentfragment__element.cmp-contentfragment__element--description {
    padding: 2pc;
}

.headstyleOne {
    font-size: 60px;
}

.headstyleTwo {
    font-size: 40px;
}

.headstyleThree {
    font-size: 30px;
}

.headstyleFour {
    font-size: 20px;
}

.headstyleFive, .headstyleSix {
    font-size: 18px;
}

.textAspreyPurple * {
    border-color: rgb(68, 0, 85);
    color: rgb(68, 0, 85);
}

.textDeepPurple * {
    border-color: rgb(43, 14, 67);
    color: rgb(43, 14, 67);
}

.textMauve * {
    border-color: rgb(217, 203, 248);
    color: rgb(217, 203, 248);
}

.textRacingGreen * {
    border-color: rgb(38, 64, 60);
    color: rgb(38, 64, 60);
}

.textEmerald * {
    border-color: rgb(80, 137, 128);
    color: rgb(80, 137, 128);
}

.textLightGreen * {
    border-color: rgb(191, 233, 199);
    color: rgb(191, 233, 199);
}

.textOffWhite * {
    border-color: rgb(247, 249, 249);
    color: rgb(247, 249, 249);
}

.textBlack * {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.textFuchsia * {
    border-color: rgb(239, 0, 128);
    color: rgb(239, 0, 128);
}

.backgroundWhite {
    background-color: rgb(255, 255, 255);
}

.backgroundAspreyPurple {
    background-color: rgb(68, 0, 85);
}

.backgroundAspreyPurple .cmp-button__text {
    color: rgb(68, 0, 85) !important;
}

.backgroundDeepPurple {
    background-color: rgb(43, 14, 67);
}

.backgroundDeepPurple .cmp-button__text {
    color: rgb(43, 14, 67) !important;
}

.backgroundMauve {
    background-color: rgb(217, 203, 248);
}

.backgroundMauve .cmp-button__text {
    color: rgb(217, 203, 248) !important;
}

.backgroundRacingGreen {
    background-color: rgb(38, 64, 60);
}

.backgroundRacingGreen .cmp-button__text {
    color: rgb(38, 64, 60) !important;
}

.backgroundEmerald {
    background-color: rgb(80, 137, 128);
}

.backgroundEmerald .cmp-button__text {
    color: rgb(80, 137, 128) !important;
}

.backgroundLightGreen {
    background-color: rgb(191, 233, 199);
}

.backgroundLightGreen .cmp-button__text {
    color: rgb(191, 233, 199) !important;
}

.backgroundOffWhite {
    background-color: rgb(247, 249, 249);
}

.backgroundOffWhite .cmp-button__text {
    color: rgb(247, 249, 249) !important;
}

.backgroundBlack {
    background-color: rgb(0, 0, 0);
}

.backgroundBlack .cmp-button__text, .backgroundLightGreen li, .backgroundLightGreen p, .backgroundMauve li, .backgroundMauve p, .backgroundOffWhite li, .backgroundOffWhite p {
    color: rgb(0, 0, 0) !important;
}

.backgroundLightGreen .cmp-button, .backgroundMauve .cmp-button, .backgroundOffWhite .cmp-button {
    background-color: rgb(0, 0, 0) !important;
}

.backgroundAspreyPurple li, .backgroundAspreyPurple p, .backgroundBlack li, .backgroundBlack p, .backgroundDeepPurple li, .backgroundDeepPurple p, .backgroundEmerald li, .backgroundEmerald p, .backgroundRacingGreen li, .backgroundRacingGreen p {
    color: rgb(247, 249, 249) !important;
}

.backgroundAspreyPurple .cmp-button, .backgroundBlack .cmp-button, .backgroundDeepPurple .cmp-button, .backgroundEmerald .cmp-button, .backgroundRacingGreen .cmp-button {
    background-color: rgb(247, 249, 249) !important;
}


.maintitle h1 {
    font-size: 60px;
}
.maintitle > div > div > h1,
.maintitle > div > div > p {
    text-align: center;
}
